@import '../resources/mixin';

.btn {
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    position: relative;
    color: #fff;
    
    &:hover,
    &:focus {
        outline: none;
    }

    &-primary {
        background-color: #21409a;

        &:hover {
            background-color: #4363c0;
        }

        &:focus,
        &:active {
            background-color: #326db9;
        }
    }

    &-success {
        background-color: #02AE79;

        &:hover {
            background: #4FC29E;
        }

        &:focus,
        &:active {
            background-color: #069267;
        }
    }

    &-default {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #7799be;
        color: #4d6f93;

        &:hover,
        &:active {
            color: #fff;
            background: #4093fb;
            box-shadow: inset 0 0 0 2px #4093fb;
        }

        &.w-txt {
            color: #fff;
            border-color: #fff;
            box-shadow: inset 0 0 0 2px #fff;

            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #203152
            }
        }
    }

    &-text {
        background-color: transparent;
        color: #F4675F;
        text-decoration: underline;
        box-shadow: transparent;
        margin: 0 !important;
        ;
        padding: 0;

        &:hover,
        &:active {
            color: #F4675F;
            background: transparent;
            text-decoration: none;
        }
    }

    &-lg {
        min-height: 40px;
        font-size: 20px;
        line-height: 40px;
        padding: 0px 15px;
    }

    &-md {
        padding: 0 16px;
        font-size: 18px;
        line-height: 40px;
        min-height: 40px;
    }

    &-sm {
        min-height: 32px;
        font-size: 14px;
        line-height: 32px;
        padding: 0px 15px;
    }

    &-xs {
        min-height: 30px;
        line-height: 28px;
        min-width: 60px;
    }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
    pointer-events: none;
}

.btn100 {
    width: 100%;
}

.btn label {
    cursor: pointer
}

.titleBtn {
    float: right;
}

.btn+.btn {
    margin-left: 10px;
}

.btn+span+.btn {
    margin-left: 10px;
}

button:focus {
    outline: none
}

.btnSec {
    clear: both;
    text-align: right;
    border-top: 1px solid #e6e6e6;
    padding: 20px 0px 10px;
    display: flex;
    justify-content: flex-end;
}

.btnEvent {
    background: transparent;
    box-shadow: none;
    text-align: center;
    line-height: 1;
    transition: width 1s;
    cursor: pointer;
    opacity: 0.6;
    border: none;

    &:hover {
        opacity: 1;
    }

    &.closeme {
        margin-top: 4px;
    }

    &.addme {
        position: absolute;
        left: 30px;
        bottom: 26px;
    }
}