@import '../resources/mixin';

.data-table {
    border-collapse: collapse;

    &__row {}

    &__cell {
        &--body {
            @include text-size-transform($font-14px, capitalize);
        }

        &--head,
        &--body {
            padding: 8px 6px;
            line-height: normal;
            vertical-align: top;
        }

        &--head {
            @include text-align-weight(left, 500);
            @include bg-color($color-blue-dark, $color-white-f5);
        }
    }

    &--bottom-border {
        border: 0;
        border-bottom: 1px solid $color-white-f2;

        &__cell {
            &--top-border {
                border: 0;
                border-top: 1px solid $color-white-f5;
            }
        }
    }

    &--no-border {
        border: 0;

        &__cell {
            &--top-border {
                border: 0;
                border-top: 1px solid $color-white-f5;
            }
        }
    }
}
.data-table-item {}

/* this is bottom border*/
// .dataTable3{
//     border: 0;
//     border-bottom:1px solid #f2f2f2;
//     th, td{
//         border: 0;
//         border-top:1px solid #f2f2f2;
//     }


// this is no border
// .dataTable5{
//     border: 0;
//     th, td{
//         border: 0;
//         border-top:1px solid #f2f2f2;
//         span{
//             display: block;

//         }
//     }

// This is going to be from the cell item
// .dataTblPaddingR{
//     border: 0;
//     th, td{
//         padding-right: 6px;
//     }

// }
// table tr.toptr{
//     border-top: 1px solid #f2f2f2;
// }

// this is again a cell type.
// .elpstable tr td div{
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
//     display:block;
// }



// .dataTbl tr td span{
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     max-width: 500px;
//     overflow: hidden;
//     display: block;
//   }
//   .dataTbl input[type="text"], .dataTbl input{
//     width: 94% !important;
//     height: 30px;
//     display: block;
//     padding: 5px;
//     margin: 0;
//   }
//   .dataTbl .custom-select-v3{margin: 0;width: 94% !important;}
//   .dataTbl select{
//     margin: 0;
//     border: 1px solid #CAD6E3;
//     border-radius: 4px;
//     padding: 4px;
//     height: 30px;
//   }
//   .dataTbl th{
//     text-align: left;
//   }
//   .scrlTable{
//     th, td{
//         padding: 8px 10px 8px 6px;
//         white-space: nowrap;
//     }
//   }