@import "../resources/mixin";

.app-header {
  @include flex-justify(center);
  background: $color-white;
  height: 44px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  &__wrapper {
    @include flex-justify(center);
    width: 100%;
    max-width: 1920px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &__logo-wrapper {
    padding: 4px 16px 4px 30px;
  }
  &__logo {
    @include border-box-width-height(auto, 32px);
  }
}

.navigation {
  @include border-box-width-height(100%, 100%);
  @include flex-align-justify(center, space-between);
  background-color: #365aa1;
  border-radius: 0 0 0 70px;
  padding-left: 60px;
  &__main-menu {
    flex: 1 70%;
    height: 100%;
    @include flex-align(center);
    li {
      @include border-box-width-height(auto, 100%);
      @include flex-align(center);
      position: relative;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease-in-out;
      &:hover {
        background: #304e8a;
      }
      a {
        color: #fff;
        cursor: pointer;
        padding: 16px;
        text-decoration: none;
      }
      strong {
        font-weight: 500;
      }
      //   &:first-child a:after {
      //     contain: "";
      //     display: none;
      //   }
    }
  }
  &__sub-menu {
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: height 0.3s ease;
    li {
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #f2f2f2;
      }
      a {
        color: $color-blue-dark;
        width: 100%;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
.company-menu{
  svg{
    transition: ease-in-out all 0.4s;
    margin-left: 6px;
  }
  &.show-nav{
    svg{
      transform: rotate(180deg);
    }
  }
}
.user-login {
  @include flex-align(center);
  height: 100%;
  background: #eb5e07;
  border-radius: 0;
  position: relative;
  > a {
    padding: 6px 30px 6px 12px;
    @include border-box-width-height(auto, 100%);
    @include flex-align-justify(center, space-between);
    text-align: center;
    color: #fff;
    svg {
      transition: ease-in-out all 0.4s;
    }
    &.show-nav {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__initials {
    background: rgba(185, 185, 185, 0.33);
    color: #fff;
    @include flex-align-justify(center, center);
    text-transform: uppercase;
    font-weight: bold;
    @include circle(32px);
    font-size: $font-12px;
    margin-right: 8px;
    border: 2px solid;
  }
  &__email {
    margin-right: 8px;
  }
  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 260px;
    max-width: 280px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
    &.hidden {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 1.5s ease;
    }
    ul {
      li {
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: #f2f2f2;
        }
        a {
          @include flex-align-justify(center, start);
          color: $color-blue-dark;
          width: 100%;
          text-decoration: none;
          padding: 12px 16px;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}
.generic-addon .navigation__main-menu{
  display: none;
}
.generic-addon .navigation{
  @include flex-justify(flex-end);
}
