@import '../resources/mixin';

.notification,
.alert {
    // padding: 10px 24px 10px 34px;
    // color: #203152;
    // border-radius: 3px;
    // line-height: normal;
    // position: relative;
    // margin-bottom: 20px;
    // font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    padding: 15px 46px;

    a {
        cursor: pointer;
    }

    &-info {
        @include svg-bg-color-border-color(#CCE1FD, 1px solid #4092FB, rgb(54, 90, 161));

    }

    &-warning {
        @include svg-bg-color-border-color(#fff7e0, 1px solid #ffe8a1, #cda11e);

    }

    &-success {
        @include svg-bg-color-border-color(#dcf8e9, 1px solid #94eaba, #059d4c);
    }

    &-error,
    &-danger {
        @include svg-bg-color-border-color(#ffe5e5, 1px solid #ffd1d1, #cd3737);
    }

    span {
        display: block;
    }

    svg {
        position: absolute;
        left: 10px;
        top: 9px;

    }

}

.alert {
    &__close {
        position: absolute;
        right: 4px;
        text-align: center;
        padding: 8px;
        top: 50%;
        display: inline-block;
        margin: -8px 0 0 0;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: all 1s ease;

        svg {
            position: inherit;
            top: 4px;
            left: 4px;
            margin: 0;
            opacity: .5;
            transition: all 1s ease;
        }

        &:hover {
            svg {
                margin-right: 0px;
                opacity: 1;
            }
        }
    }

    &:hover {
        &__close {
            border: 1px solid #F4675F;
        }
    }
}