@import './variables';

@mixin flex() {
    display: flex;
}

@mixin flex-align($align) {
    @include flex();
    align-items: $align;
}

@mixin flex-justify($justify) {
    @include flex();
    justify-content: $justify;
}

@mixin flex-direction($direction) {
    @include flex();
    flex-direction: $direction;
}

@mixin flex-align-direction($direction) {
    @include flex();
    align-items: $align;
    flex-direction: $direction;
}

@mixin flex-align-justify($align, $justify) {
    @include flex();
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-justify-direction($justify, $direction) {
    @include flex();
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin flex-align-justify-direction($align, $justify, $direction) {
    @include flex();
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin border-box-width-height($width, $height) {
    box-sizing: border-box;
    width: $width;
    height: $height;
}

@mixin circle($size) {
    @include border-box-width-height($size, $size);
    border-radius: 50%;
}

@mixin text-size-weight($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin text-size-transform($size, $transform) {
    font-size: $size;
    text-transform: $transform;
}

@mixin text-size-transform-weight($size, $transform, $weight) {
    font-size: $size;
    text-transform: $transform;
    font-weight: $weight;
}

@mixin text-size-align($size, $align) {
    font-size: $size;
    text-align: $align;
}

@mixin text-align-weight($align, $weight) {
    font-weight: $weight;
    text-align: $align;
}

@mixin bg-color($bg, $color) {
    background-color: $bg;
    color: $color;
}

@mixin svg-bg-color-border-color($bg-color, $border, $color, $fill) {
    background-color: $bg-color;
    border: $border;
    color: $color;

    path {
        fill: $color;
    }
}