@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


blockquote {
    quotes: none;
}

blockquote {

    &:before,
    &:after {
        content: '';
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

svg {
    outline: 0;
}


body {
    width: 100%;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Roboto",
        "Arial",
        sans-serif;
    background-color: $color-white;
    text-rendering: optimizeLegibility;
    font-size: $base-font-10px;
    font-feature-settings: "liga"on;
    color: $color-black;
}

input,
textarea,
select {
    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;

        &:focus,
        &:hover {
            box-shadow: 0 0 0 1000px #fff inset;
            transition: background-color 5000s ease-in-out 0s;

        }
    }
}