// colors
$color-black:#3a3a3a;
$color-grey-light:#F7F8FC;
$color-white : #fff;
$color-white-f2: #f2f2f2;
$color-white-f5: #f5f5f5;
$color-orange : #eb5e07;
$color-blue-bright: #36c;
$color-blue: #365aa1;
$color-blue-mid: #4D6F93;
$color-blue-dark: #203152;
$color-blue-pale: #4D6F93;
$color-blue-light: #7799BE;
$color-blue-light-100:#CAD6E3;
$color-green-dark:#02AE79;
$color-green-parrot:#599347;
$color-red-bright: #F4675F;
$color-yellow-pale:#cda11e;

$base-font-10px:0.625rem;
$font-12px:0.75rem;
$font-14px:0.875rem;
$font-16px:1rem;
$font-18px:1.125rem;
$font-20px:1.25rem;
$font-24px:1.5rem;
$font-32px:2rem;

$main-gutter-desktop: 4px 2rem;
$main-gutter-tab: 4px 1.25rem;
$main-gutter-mobile: 4px 0.875rem;