
.generic-addon{
    .pageTtl h3{
        font-size: 30px;
    }
    //.main-Menu{display: none !important;}
        .print-me{
            position: relative;
            width: 140px;
        
        a{
            font-size: 16px;
            font-weight: 600;
            padding: 6px 0 6px 29px;
            display: inline-block;
            color: #4D6F93;
            white-space: nowrap;
            position: absolute;
            width: 100%;
            left: 0;
        // animation: blinkingText 4s infinite;
        &:hover{
            color:#eb5e07
        }
    
        }
        svg{
            margin-top: 1px;
            path{
                animation: blinkingText 4s infinite;
            }
        }
    }
}
    .main-container.footer{
        padding-top: 20px ;
        padding-bottom: 20px;
        font-size: 12px;
    }
    @keyframes blinkingText{
	0%		{ fill: #e6610f;}
	25%		{ fill: #365aa1;}
	50%		{ fill: #e6610f;}
	75%		{ fill: #365aa1;}
	100%	{ fill: #e6610f;}
    }
