body.react-confirm-alert-body-element {
  overflow: hidden;
}



.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background:rgba(0, 0, 0, 0.35);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert {
  min-width: 350px;
  text-align: left;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
  border: 1px solid #21409a99;
}
.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.custom-ui{
  padding: 20px;
}
.custom-ui p{
  margin: 6px 0;
    font-size: 16px;
}
.btn-grid{
  border-top: 1px solid #f2f2f2;
  padding: 10px;
}
@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
