.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lnkLine{text-decoration: underline;}
  ul.lstStlyCrl{list-style: circle;}
  .d-ib { display: inline-block !important; }
  .d-b { display: block !important; }
  .d-tc { display: table-cell; }
  
  .p-relative { position: relative; }
  .p-absolute { position: absolute; }
  .p-fixed { position: fixed; }
  .v-align{vertical-align: top;}
  .text-right{text-align: right;}
  .text-left{text-align: left;}
  .text-center{text-align: center;}
  .no-text-decr{
    text-decoration: inherit !important;
  }
  .ba {
    border: solid 1px #eaeaea;
  }
  .bb {
    border-bottom: solid 1px #cad6e3;
  }
  .bt {
    border-top: solid 1px #eaeaea;
  }
  .bl {
    border-left: solid 1px #eaeaea;
  }
  .br {
    border-right: solid 1px #eaeaea;
  }
  
  .bb-dashed {
    border-bottom: dashed 1px #eaeaea;
  }
  
  .bb-0 {
    border-bottom: 0 !important;
  }
  .bt-0 {
    border-top: 0 !important;
  }
  .bl-0 {
    border-left: 0 !important;
  }
  .br-0 {
    border-right: 0 !important;
  }
  .overflow-x-scroll {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .overflow-x-auto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .hide-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar { 
    display: none; 
  } 
  
  .overflow-x-noscroll {
    overflow-x: hidden;
  }
  .overflow-y-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .overflow-y-noscroll {
    overflow-y: hidden;
  }
  .ws-nowrap {
    white-space: nowrap;
  }
  .ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .vertical-top {
    vertical-align: top;
  }
  .bg-c1{
    background-color: #f2f2f2;
  }
  .bg-c2{
    background-color: #f8f8f8;
  }
  .txt-transfUp{
    text-transform: uppercase;
  }
  .txt-transfCp{
    text-transform: capitalize;
  }
  .font-11{
      font-size: 11px;
  }
  .font-12{
    font-size: 12px;
    line-height: 16px;
}

.font-13{
  font-size: 13px;
  line-height: 16px;
}
.font-14{
    font-size: 14px;
    line-height: 20px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-22{
    font-size: 22px;
}
.font-26{
    font-size: 26px;
}
.font-w-b{
  font-weight: 600;
}
.font-w-m{
  font-weight: 500;
}
.font-w-t{
  font-weight: 300;
}
.lineHeight20{
  line-height: 20px;
}
.lineHeight26{
  line-height: 26px;
}


