
table{
    margin-bottom: 10px; width: 100%;
    th, td{
    //font-weight: 300;
    padding: 8px 6px;
    line-height: normal;
    vertical-align: top;
    p{
        font-size: inherit;
        line-height: normal;
    }
    
  }
  th{
    text-align: left; 
    color:#203152 ;
    background: #f5f5f5;
    font-weight: 500;
    box-shadow: 0 2px 0 #e4e4e4;
  }
  td{
      font-size: 13px;
      text-transform: capitalize;
  }

}
.dataTable1{
    border: 0;
    th, td{
        border:0;
    }
    
}
.dataTable2{
    border: 0;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    background: red;
    th, td{
        border:0;
    }
    
}
.dataTable3{
    border: 0;
    border-bottom:1px solid #f2f2f2;
    th, td{
        border: 0;
        border-top:1px solid #f2f2f2;
    }
    
}
.dataTable4{
    border: 0;
    border-bottom:1px solid #f2f2f2;
    border-left:1px solid #f2f2f2;
    th, td{
        border-top:1px solid #f2f2f2;
        border-right:1px solid #f2f2f2;
    }
    
}
.dataTable5{
    border: 0;
    th, td{
        border: 0;
        border-top:1px solid #f2f2f2;
        span{
            display: block;

        }
    }
    
}
.dataTblPaddingR{
    border: 0;
    th, td{
        padding-right: 6px;
    }
    
}
table tr.toptr{
    border-top: 1px solid #f2f2f2;
}
.elpstable tr td div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block;
}



.dataTbl tr td span{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
    display: block;
  }
  .dataTbl input[type="text"], .dataTbl input{
    width: 94% !important;
    height: 30px;
    display: block;
    padding: 5px;
    margin: 0;
  }
  .dataTbl .custom-select-v3{margin: 0;width: 94% !important;}
  .dataTbl select{
    margin: 0;
    border: 1px solid #CAD6E3;
    border-radius: 4px;
    padding: 4px;
    height: 30px;
  }
  .dataTbl th{
    text-align: left;
  }
  .scrlTable{
    th, td{
        padding: 8px 10px 8px 6px;
        white-space: nowrap;
    }
  }