@media (max-width: 768px) {
  
    .navigation ul li a, .Footer ul li a {
        padding: 0px 20px 0 0 !important;
        font-size: 12px;
        border: none;
        position: relative;
        margin-bottom: 8px;
        display: inline-block;
      }
      .navigation ul li a:after, .Footer ul li a:after {
        content: '';
        display: block;
        height: 80%;
        width:1px;
        background: #ccc;
        position:absolute;
        top: 20%;
        right: 10px;
      }
      .pageTtl ul{
        display: flex;
        flex-direction: column;
        li{
            padding-left: 0;
            border:none;
        }
      }
    .footer ul li a {
        padding: 0 6px 0 0;
        margin: 0 6px 6px 0;
    }
    .mob-txt-right{
        text-align: right;
    }
    .mob-txt-left{
        text-align: right;
    }
    .closeX{
        text-align: right;
        position: relative;
        top: -15px;
        right:0;
    }
    .btnEvent.addme {
        left: inherit;
        right: 42px;
        bottom: 18px;
        z-index: 9;
    }
    .main-container.pageTtl{
        display: block;
    }
    .titleBtn {
        display: block;
        text-align: right;
        float: none;
    }
    .resTable{
        overflow: auto;
    }
    .dis-flx-btw{
        display:inherit;
    }
    .text-right, .heading > .trip-sub{
        text-align: left;
    }
    .tripInfo div+div{
        margin-top:10px ;
    }
    .tripInfo div+div .font-18{
        font-size: 16px;
        line-height: 20px;
    }
    .heading > .in-tabTTl-sub + .trip-sub{
        width:100%
    }
    .trip-summary .show-tg-line a{
        float: right;
        display: inherit;
    }
    .form-group{
        padding-bottom: 10px;
    }
    .cont-Box.fphPage .tabPanel {
        padding-right: 1rem;
    }
    .mobTriplink{
        overflow: auto;
        padding-bottom: 10px;
        position: relative;
        bottom: -10px;
    }
    .mobOverflow{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .mobTriplink ul, table th{
        white-space: nowrap;
    }
    ul.triplink li:last-child a{
        margin: 0;
    }
    .form-group .tagGrid.pr-0{
        padding: 0 15px !important
    }
    .fph-payment-list ul li{
        width: 100%;
    }
    .form-group input, .dataTbl input{
        margin-bottom: 10px;
    }
    .dataTbl .react-datepicker-wrapper input{
        width:110px !important
    }
    .right-bar{
        padding-left: 15px;
    }
    .Add-tag .show-tg-line.dis-flx-btw{
        display: flex;
    }
}