body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	font-weight: normal;

}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	color: #203152;
	margin: 0;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	color: #4D6F93;
	margin: 0;
}

h1,
.h1 {
	font-size: 42px;
	font-weight: 500;
	line-height: 50px;
}

h2,
.h2 {
	font-size: 36px;
	font-weight: 500;
	line-height: 44px;
}

h3,
.h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

h4,
.h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

h5,
.h5 {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

h6,
.h6 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

p {
	font-size: 14px;
	line-height: 22px;
}

.primary-Color {
	color: #203152 !important;
}

small,
.small {
	font-size: 12px;
	line-height: normal;
	font-weight: 400;
	color: #4D6F93
}

a {
	color: #36c;
}

a:hover {
	color: #cd6501
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.SubTitle {
	font-size: 16px;
	color: #203152;
	display: inline-block;
}

.main-container {
	margin: 0 auto;
	padding: 10px 3%;
}

.cont-Box {
	min-height: 340px;
	padding-bottom: 20px;
}

.App {
	text-align: left;
}


.App-intro {
	font-size: large;
}

ul {
	padding: 0;
	margin: 0;
	clear: both;
}

ul li a {
	text-decoration: underline;
}

.cont-sec, .withHdr-Cont-sec{
 height:calc(100vh - 155px);
// height:100vh;
}

.footer ul li {
	display: inline-block;
	a {
		padding: 0px 15px;
		position: relative;
		border-right: 1px solid #ccc;
		text-decoration: none;
		font-size: 14px;
		display: inline-block;
	}
	&:first-child a {
		padding-left: 0;
	}
	&:last-child a {
		border-right: none;
		padding-right: 0;
	}
}

.sub-navbar-brand .select-me {
	margin-left: 4px;
}

.footer {
	border-top: 1px solid #ccc;
	ul {
		margin-bottom: 10px;
		li a {
			font-size: 12px;
			font-weight: 600;
		}
	}
	p {
		font-size: 10px;
		font-weight: 600;
	}
}

.footer ul.footerSub li a {
	font-size: 12px;
	font-weight: 400;
}

.form-group input,
.dataTbl input {
	background-color: #fff;
	border: 1px solid #CAD6E3;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 0px 12px;
	box-shadow: none;
	color: #203152;
	height: 30px;
	display: block;
	line-height: normal;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}

.form-group label {
	display: inline-block;
	margin-bottom: 6px;
	line-height: 30px;
	position: relative;
}

.form-group label.required:after {
	content: '*';
	color: red;
	margin-left: 2px;
	position: absolute;
}
textarea:focus, input:focus {
    outline-color: #ccc;
}
[class*="col-"] {
	position: relative;
	min-height: 1px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #7799BE;
	opacity: .5;
	line-height: 30px;
}

:-ms-input-placeholder {
	/* Internet Explorer */
	color: #7799BE;
	opacity: .5;
	line-height: 30px;
}

::placeholder {
	color: #7799BE;
	opacity: .5;
	line-height: 30px;
}

[type="checkbox"].customCheckbox:not(:checked)+label:after {
	opacity: 0;
	transform: scale(0)
}

[type="checkbox"].customCheckbox:checked+label:after {
	opacity: 1;
	transform: scale(1)
}

[type="checkbox"].customCheckbox:not(:checked),
[type="checkbox"].customCheckbox:checked {
	position: absolute;
	left: -9999px
}

[type="checkbox"].customCheckbox:not(:checked)+label,
[type="checkbox"].customCheckbox:checked+label {
	position: relative;
	padding: 0 5px 0 22px;
	cursor: pointer;
	line-height: 16px;
	color: #4D6F93;
	vertical-align: middle;
}

[type="checkbox"].customCheckbox:not(:checked)+label::after,
[type="checkbox"].customCheckbox:checked+label::after {
	content: '';
	top: 3px;
	left: 6px;
	position: absolute;
	z-index: 1;
	display: block;
	width: 3px;
	height: 6px;
	border: solid #4D6F93;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

[type="checkbox"].customCheckbox:not(:checked)+label:before,
[type="checkbox"].customCheckbox:checked+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 12px;
	height: 12px;
	background: #fff;
	border: 2px solid #CAD6E3;
	z-index: 1;
}

.customCheckbox.err[type="checkbox"]:not(:checked)+label::before,
.customCheckbox.err[type="checkbox"]:checked+label::before {
	border: 1px solid #F4675F;
}

[type="checkbox"].customCheckbox:checked+label span {
	position: relative;
	z-index: 1;
}

.fPanel [type="checkbox"].customCheckbox:checked+label {
	background: #fbf9b6;
}

[type="checkbox"].customCheckbox:checked+label span.badge {
	color: #fff !important;
}

[type="checkbox"].customCheckbox:disabled:not(:checked)+label:before,
[type="checkbox"].customCheckbox:disabled:checked+label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #F7F8FC
}

[type="checkbox"].customCheckbox:disabled:checked+label:after {
	color: #999
}

[type="checkbox"].customCheckbox:disabled+label {
	color: #4D6F93;
	cursor: not-allowed;
}


/* [[ customCheckbox end here ]] */


/* [[ customRadio starts here ]] */

[type="radio"].customRadio:not(:checked),
[type="radio"].customRadio:checked {
	position: absolute;
	left: -9999px
}

[type="radio"].customRadio:not(:checked)+label,
[type="radio"].customRadio:checked+label {
	cursor: pointer;
	font-weight: normal;
	margin-right: 16px;
	padding-left: 24px;
	position: relative;
	white-space: nowrap;
	line-height: 16px;
}

[type="radio"].customRadio:not(:checked)+label:before,
[type="radio"].customRadio:checked+label:before {
	content: '';
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #4D6F93;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

[type="radio"].customRadio:not(:checked)+label:after,
[type="radio"].customRadio:checked+label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	transition: all .2s;
	background: #4D6F93;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 10px
}

[type="radio"].customRadio:not(:checked)+label:after {
	opacity: 0;
	transform: scale(0)
}

[type="radio"].customRadio:checked+label:after {
	opacity: 1;
	transform: scale(1);
}

[type="radio"].customRadio:disabled:checked+label:after {
	color: #999
}

[type="radio"].customRadio:disabled+label {
	color: #4D6F93;
	cursor: not-allowed;
}


/** Custom select box**/

.custom-select-v3 {
	position: relative;
	margin-bottom: 20px;
}

.custom-select-v3 select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #7d7d7d
}

.custom-select-v3 select {
	font-size: 12px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	height: 32px;
	padding: 8px 12px;
	width: 100%;
	color: #7d7d7d;
	border: 1px solid #CAD6E3;
	position: relative;
	background: transparent;
	-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;
	appearance: none
}

.custom-select-v3 select[disabled],
.customDateBox input[disabled],
input[disabled] {
	background: #eee;
	cursor: not-allowed !important;
}

.custom-select-v3 .select-me {
	position: absolute;
	right: 10px;
	top: 6px;
	width: 15px;
}

.custom-select-v3>div {
	width: 100%
}

.loginForm {
	width: 360px;
	margin: 10% auto auto;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 40px;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 0px 4px #b4b0b0;
}

.loginForm h4 {
	margin-bottom: 20px;
}

.Modal {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	background-color: papayawhip;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rebeccapurple;
}

.loginForm .App-logo {
	position: absolute;
	top: -23px;
	left: 30px;
}

input[aria-expanded="true"]+div {
	width: 200px;
	margin-top: -26px;
}

input[aria-expanded="true"]+div .list {
	padding: 10px;
	width: auto;
}

.config-table {
	width: 100%;
	border-spacing: 0;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	border-bottom: none;
	border-right: none;
}

.config-table  tr th {
	background: #f2f2f2;
}

.config-table  tr th,
.config-table  tr td {
	text-align: left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 8px;
}

.config-table  tr td {
	font-size: 14px;
	color: #7f7f7f;
}

.closeX {
	position: absolute;
	right: -42px;
	z-index: 1;
}

.tripInfo span.userType {
	font-weight: 500;
	display: block;
	color: #333;
  margin-top: 5px;
  font-size: 12px;
}

.booking-date {
	color: #4D6F93;
	display: block;
}

.tripInfo {
	padding-bottom: 12px;
	//padding: 10px 0 20px;
	/*background: #f0f0f0;*/
}

ul.trip-link {
	border-bottom: 1px solid #4D6F93;
	li {
		display: inline-block;
		margin-bottom: -1px;
		a {
			padding: 10px 8px;
			text-decoration: none;
			display: inline-block;
			position: relative;
			margin-right: 4px;
			font-weight: 300;
			color: #fff;
			border: 1px solid #4D6F93;
			border-bottom: transparent;
			position: relative;
			bottom: 0px;
			border-radius: 4px 4px 0 0;
			background: #365aa1;
			font-size: 12px;
			transition-property: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
			&:hover {
				color: #203152;
				background: #fff;
				transition-property: transform;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}
			&.active {
				color: #203152;
				background: #fff;
				font-weight: 500;
				border-bottom: #fff;
			}
		}
	}
}

.trip-link li a.active:after,
.trip-link li a:hover::after {
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -1px;
	left: 0;
	display: block;
	background: #fff;
}

.tripDetails {
	background: #fff;
	border: 1px solid rgba(54, 90, 161, 0.25882352941176473);
	border-top: transparent;
	padding: 10px;
	height: 100%;
}

.user-type {
	padding: 2px 4px;
	font-size: 12px;
	color: #eb5e07;
	//background-color: #1abc9c;
}

.selectedComp {
	display: inline-block;
	padding: 8px 8px 8px 0;
	border-radius: 6px;
	margin-bottom: 20px;
	span {
		font-weight: 500;
		font-size: 16px;
		margin-right: 20px;
	}
}

.setCompany {
	font-size: 16px;
	font-weight: 500;
	color: #203152;
}

.airline {
	padding: 4px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 6px 0;
	font-size: 12px;
	font-weight: 500;
	span {
		display: inline-block
	}
}

button .ldrPart {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 6px;
}

.ldrPart {
	display: inline-block;
	position: relative;
	top: 5px;
	left: 4px;
	img {
		height: 20px;
		width: 20px;
	}
}

.in-tabTTl {
	font-size: 16px;
	color: #203152;
	font-weight: 500;
}

.in-tabTTl-sub {
	font-size: 20px;
	font-weight: 500;
	color: #203152;
}

.paxName,
.destination,
.highInfo,
.tripDetails h3 {
	font-weight: 500;
	margin: 10px 0 0;
	padding: 8px 0px;
	
	font-size: 18px;
	color: #203142;
	&.border{
		border-bottom: 1px solid #d8dbe5;
	}
}
.destination:first-child,.highInfo:first-child  {
    margin-top: 0;
}
.right-bar {
	padding-top: 10px;
  padding-left: 0;
}

.trip-summary {
	//background: #fff;
	height: 100%;
	a {
		display: block;
		margin: 4px 0 8px;
		text-decoration: none;
		font-size: 13px;
		&:hover svg {
			margin-right: 3px;
		}
		svg {
			margin-right: 6px;
			transition: all 0.5s ease;
			path {
				fill: red;
			}
		}
	}
}

.denied h3 {
	font-size: 18px;
	margin: 6px 0;
}

.DayPickerInput {
	width: 100%;
}

.DayPicker-wrapper {
	z-index: 4;
}

textarea#addNoteID {
	width: 100%;
	height: 150px;
	border: 1px solid #CAD6E3;
}

.fph-payment-list ul li {
	display: inline-block;
	font-size: 14px;
	padding: 6px 0;
	width: 48%;
	&:hover {
		background: #f6f6f6;
	}
	span {
		width: 38%;
		display: inline-block;
		line-height: 18px;
		&+span {
			width: 60%;
			word-break: break-all;
		}
	}
}

.page-not-found p {
	width: 300px;
	text-align: center;
	margin: 100px auto;
}

.trip-audit span {
	width: 50px;
	display: inline-block;
}

.react-tooltip-lite {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 6px;
	font-size: 12px;
	line-height: 18px;
	width: auto !important;
}

.react-tooltip-lite span {
	width: 110px;
	display: inline-block;
}

.dtPik {
	position: relative;
	.react-datepicker-wrapper {
		display: block;
		input {
			background-color: transparent;
		}
	}
	.calendar {
		position: absolute;
		right: 18px;
		top: 7px;
	}
}

.des.cancel {
	color: #F4675F;
	//text-decoration: line-through;
}

.rotate90 {
	transform: rotate(-90deg);
}

.show-tg-line {
	color: #203152;
	font-size: 14px;
	font-weight: 500;
	background: #CAD6E3;
  padding: 2px 5px 2px 10px;
	border-radius: 2px;
	&.down svg{
		transition: all 1s ease;
		transform: rotate(-90deg);
	}
	svg {
    float: right;
	margin-top:5px ;
	transition: all 0.5s ease;
  }
  .btn-xs {
    min-height: 26px;
    line-height: 26px;
    min-width: 50px;
}
}
.tag {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 1px 4px;
	border-radius: 20px;
	margin: 10px 0 5px;
	background: #4d6f93;
	a {
		display: inline-block;
		margin: 0;
		padding: 4px;
		color: #fff;
		font-size: 12px;
	}
	.clsTag {
		cursor: pointer;
		border: 1px solid #F4675F;
		border-radius: 50%;
		width: 16px;
		display: inline-block;
		text-align: center;
		line-height: 12px;
		height: 16px;
		background: #F4675F;
		
	}
}
ul.trip-link li.cnclTrip {
	float: right;
	a {
		position: relative;
		background: none;
		color: #36c;
		border: none;
		top: -3px;
		padding-right: 0;
		text-decoration: underline;
		&:hover {
			color: #cd6501;
			text-decoration: none;
		}
	}
}

.pre {
	display: block;
	padding: 10px 30px;
	margin: 0;
	overflow: scroll;
}

.trip-sub {
	line-height: 26px;
	color: #203152;
	font-weight: 500;
	ul.trip-sub-info{
	display: flex;
	justify-content: flex-end;
	li{
		margin-left: 10px;
		label{
			color: #7799BE;
		}
	}
	}
}

.heading>.trip-sub {
	width: 100%;
	text-align: right;
	;
}

.heading>.in-tabTTl-sub+.trip-sub {
	//max-width: 55%;
	width: auto;
}

.linkRight {
	text-decoration: underline;
	font-weight: bold;
	margin-right: 10px;
	&:hover {
		text-decoration: none;
	}
}

.price-info li {
	margin-bottom: 10px;
	display: flex;
	&:last-child {
		margin: 0;
	}
	strong em {
		font-weight: 200;
		font-size: 12px;
		margin-top: 4px;
	}
	span {
		display: inline-block;
		width: 50%;
		color: #7799BE;
		&+span {
			color: #203152;
			text-align: right;
		}
	}
	
}

.price-info li.total,
.totals {
	border-top: 1px solid #CAD6E3;
	padding-top: 5px;	
	font-weight: 600;
	span{
		color: #203152;
	}
}

.jsonSec {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 15px 15px 0;
}

.address-Pnl li {
	display: flex;
	margin-bottom: 5px;
	line-height: 20px;
	span {
		width: 60px;
		color: #7799BE;
		&+span {
			width: 80%;
			color: #203152;
		}
	}
}

.side-pnl {
	position: relative;
}

.side-pnl button.up,
.side-pnl button.down {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	box-shadow: none;
	border: none;
	padding: 6px;
	cursor: pointer;
	width: 100%;
	text-align: right;
}

.down .arrow-cls {
	transform: rotate(-90deg);
}

.penal {
	overflow: hidden;
	transition: max-height 0.5s ease-in; // note that we're transitioning max-height, not height!
	height: auto;
	max-height: 1000px; // still have to hard-code a value!
	
	
}

.up+.penal {
	// "height: 0" not work with css transitions
	max-height: 1000px;
	overflow: hidden;
	background: #fff;
	.showHide-content{
		padding: 10px;
		background: #fff;
	}
}

.down+.penal.hide {
	transition: max-height 1s ease-out;
	// *squish*
	max-height: 0;
	.showHide-content{
		padding: 10px;
		background: #fff;
	}
}

.cancel td span,
span.cancel {
	color: #F4675F;
	text-decoration: line-through;
}

.cancel td span a {
	color: #F4675F;
}

.cancel td span.n-strk {
	text-decoration: none;
}

.cancel td .pop-grid {
	color: #203152;
}

.cancel td .pop-grid span,
td .pop-grid span,
.pop-grid ul li span {
	color: #7799BE;
	text-decoration: inherit;
	display: inline-block;
	width: 150px;
	font-size: 12px;
	font-weight: normal;
}

.pop-grid ul li {
	font-size: 12px;
	line-height: 16px;
}

.popup-content {
	width: auto !important;
}

div.popup-content {
	overflow: initial !important;
	padding: 15px !important;
	box-shadow: #7799be 0px 1px 3px !important;
	li {
		margin-bottom: 6px;
		&.total {
			border-top: 1px solid #ccc;
			padding-top: 5px;
			font-weight: 600;
		}
	}
}

.pop-grid a {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	border: 1px solid;
	height: 15px;
	width: 15px;
	text-align: center;
	line-height: 14px;
}

.miscellaneous ul li {
	line-height: 18px;
	vertical-align: top;
	font-size: 12px;
}

.wallet-info {
	display: flex;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 10px;
}

// .miscellaneous ul li strong{
//     padding: 10px 0 5px;
//     border-bottom: 1px solid #f2f2f2;
//     margin-bottom: 5px;
// }
.hotelPolicy {
	border: 1px solid #365aa142;
	padding: 10px;
	border-radius: 6px;
	line-height: 20px;
	font-size: 12px;
	p {
		margin: 0;
	}
	b {
		color: #203152;
		font-weight: 500;
		margin-top: 5px;
		display: block;
	}
	li {
		list-style: disc;
		margin-left: 15px;
	}
}

// .tripDetails div{
//   line-height: 20px;
// }
.miscellaneous a {
	text-decoration: underline;
	&:hover {
		text-decoration: none
	}
}

.miscellaneous ul li ul li span:first-child {
	font-weight: 500;
}

.pageTtl {
	background: #f8f8f8;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eeebeb;
	display: flex;
	justify-content: space-between;
	h3 {
		font-size: 20px;
		margin: 0;
	}
	ul{
		display: flex;
		width: 100%;
		li {
			width: auto;
			padding: 0 10px;
			flex: 1 1 auto;
			border-right: 1px solid #aaa;
			&:last-child{
				border-right: none;
			}
			&:first-child{
				padding-left: 0;
				display: flex;
				justify-content: space-between;
				svg{
					margin-top: 5px;
					opacity: .5;
				}
			}
		}
		}
}
.booking-tag{
	display: block;
	margin-bottom: 10px;
	li{
		margin-right: 2px;
		display: inline-block;
		margin-bottom: 4px;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0px 2px 3px -1px #575757;
		span{
			display: inline-block;
			background: #4d6f93;
			border-bottom: 3px solid #33475d;
			color: #fff;
			font-size: 12px;
			padding: 4px;
			&+span{
				background: #eb5e07;
				border-bottom: 3px solid #9b3e04;
			}
		}
	}
}
	.ldr{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 60px;
		
		.page-loader{
		border: 8px solid #f3f3f3;
		border-radius: 50%;
		background: #ffffff;
		// border-bottom: 8px solid #365aa1;
		// border-right: 8px solid #e6610f;
		// border-top: 8px solid #e6610f;
		// border-left: 8px solid #365aa1;
		border-top: 8px solid 	#eb5e07;
		border-bottom: 8px solid #365aa1;
		width: 70px;
		height: 70px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		box-shadow: 0px 4px 4px 0px rgba(169, 169, 169, 0.65);
		}
	}		
.page-loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid 	#eb5e07;
	border-bottom: 8px solid #365aa1;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  .cont-Box.fphPage .tabPanel{
    padding-right: 0;
}
.dis-flx-btw, .dis-flx-btw-ned{
    display: flex;
    justify-content: space-between;
}
.tripDetails.cancelTrip{
	border-top: 1px solid rgba(54, 90, 161, 0.2588235294);
}
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  