/*width persentages*/
.w-1p {width:1% !important}
.w-2p {width:2% !important}
.w-3p {width:3% !important}
.w-4p {width:4% !important}
.w-5p {width:5% !important}
.w-5_2p {width:5.2% !important}
.w-7p, .width-7p {width:7% !important}
.w-8p, .width-8p {width:8% !important}
.w-9p {width:9% !important}
.w-10p, .width-10 {width:10% !important}
.w-11p {width:11% !important}
.w-12p {width:12% !important}
.w-13p {width:13% !important}
.w-13p5{width:13.5% !important}
.w-14p {width:14% !important}
.w-15p {width:15% !important}
.w-16p, .width-16p, .width-16-per {width:16% !important}
.w-17p, .width-17p, .w-17persent {width:17% !important}
.w-19p {width:19% !important}
.w-19pn5p {width:19.5% !important}
.w-20p, .width-20p {width:20% !important}
.w-20pn5p{width:20.5% !important}
.w-21p {width:21% !important}
.w-22p {width:22% !important}
.w-22pn5p {width: 22.5% !important;}
.w-23p {width:23% !important}
.w-24p {width:24% !important}
.w-25p {width:25% !important}
.w-26p, .width-26p {width:26% !important}
.w-27p {width:27%}
.w-28p {width:28% !important}
.w-28pn5p{width:28.5% !important}
.w-29p {width:29% !important}
.w-30p {width:30% !important}
.w-35p {width:35% !important}
.w-33p {width:32% !important}
.w-38p, .width-38p{width:38% !important}
.width-39p, .w-39p {width:39% !important}
.w-40p {width:40% !important}
.w-42p{width:42% !important}
.w-43p{width:43% !important}
.w-44p {width:44% !important}
.w-45p {width:45% !important}
.w-50p {width:50% !important}
.w-51p {width:51% !important}
.w-53p {width:53% !important}
.w-55p {width:55% !important}
.w-60p {width:60% !important}
.w-62p {width:62% !important}
.w-64p {width:64% !important}
.w-65p {width:65% !important}
.w-67p {width:67% !important}
.w-70p {width:70% !important}
.w-75p, .width-75p {width:75% !important}
.w-77p {width:77% !important}
.w-79p {width:79% !important}
.w-80p {width:80% !important}
.w-85p {width:85% !important}
.w-88p {width:88% !important}
.w-89p{width:89% !important}
.w-90p {width:90% !important}
.w-92p {width:92% !important}
.w-93p {width:93% !important}
.w-94p {width:94% !important}
.w-96p {width:96% !important}
.w-97p {width:97% !important}
.w-98p {width:98% !important}
.w-99p {width:99% !important}
.w-7p8 {width:76.8% !important}
.w-48p {width:48% !important}
.fullWidth, .w-100p {width:100% !important}
.w-80 select {width:100%}
.width-14p {width:14% !important}
.width-95-per {width:96%}
/*width px*/
.w-10 {width:10px !important}
.w-20 {width:20px !important}
.w-30 {width:30px !important}
.w-50 {width:50px !important}
.w-55 {width:55px !important}
.w-59 {width:59px !important}
.w-60 {width:60px !important}
.w-65 {width:65px !important}
.w-70 {width:70px !important}
.w-75 {width:75px !important}
.w-76 {width:76px !important}
.w-80 {width:80px !important}
.w-85 {width:85px !important}
.w-90 {width:90px !important}
.w-95 {width:95px !important}
.w-100 {width:100px !important}
.w-102 {width:102px !important}
.w-103 {width:103px !important}
.w-108 {width:108px !important}
.w-115{width:115px !important;}
.w-130 {width:130px !important}
.w-143 {width:143px !important}
.w-150 {width:150px !important}
.w-160 {width:160px !important}
.w-172 {width:172px !important;}
.w-180 {width:180px !important;}
.w-190 {width:190px !important;}
.w-205 {width:205px !important}
.w-213 {width:213px !important}
.w-220 {width:220px !important}
.w-250 {width:250px !important}
.w-300 {width:300px !important}
.w-390{width:390px !important;}
.w-750{width:750px !important;}
.w-400 {width:400px !important}
.w-912 {width:912px !important}
.maxh-460{max-height:460px !important}
.h150{height:150px;}
.h170{height:170px;}
.h500{height:500px;}
/*background color*/