.header{
  display: flex;
  width: 100%;
  justify-content: space-between;

.logo{
  img{
    height:40px;
  }
}
.mobNav{
  background: #f2f2f2;
}
.mobe {
  display: inline-block;
  vertical-align: top;
  margin:8px 26px 0 3% ;

  &> div.visible{
    transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
  }

  &> div{
    left: -300px;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
  }
  ul li.userName{
    background: #dfdfdf;
    strong{
      display: block;
      padding: 20px 10px;
      word-break: break-all;
      border-bottom: 1px solid #e1e0e0;
      svg{
        position: relative;
        top: -3px;
        margin-right: 5px;
      }
    }
  }

  ul li a {
    display: block;
    padding: 12px;
    border-bottom: 1px solid #e1e0e0;
    text-decoration: none;
  }
  ul.mobSubMenu li a{
    padding-left: 30px;
    background: #ebebeb;
  }
}

.userLogin li:nth-child(2) a {
  padding-left: 10px !important;
}
}