.alert, .notification{
    padding: 10px;
    border-radius: 3px;
    line-height: 16px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    //animation: FadeAnimation 1s ease-in .2s forwards;alertFixed
    &-fixed{
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 6px 2% 6px;
        svg {
            margin-right: 10px;
            
        }
    }
    a{
        cursor: pointer;
    }    
    &-info{
        background-color: #CCE1FD; border: 1px solid #4092FB; color: rgb(54, 90, 161);
        path{
            fill: rgb(54, 90, 161);
        }
    }
    &-warning{
        background-color: #fff7e0; border: 1px solid #ffe8a1; color: #cda11e;
        path{
            fill: #cda11e;
        }
    }
    &-success{
        background-color: #dcf8e9; border: 1px solid #94eaba; color: #059d4c;
        path{
            fill: #059d4c;
        }
    }
    &-error, &-danger{background-color:#ffe5e5; border: 1px solid #ffd1d1; color: #cd3737; 
        path{
            fill: #cd3737;
        }
    }
span{
    display:block;
}
svg {
    margin-right: 10px;
    
}

}
.alert .alrtClose{
    margin: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 1s ease;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert:hover .alrtClose{
    border: 1px solid #fff;
}
.alert .alrtClose svg{
    margin: 0;
    opacity: .5;
    transition: all 1s ease;
}
.alert .alrtClose:hover svg {
    margin-right: 0px;
    opacity: 1;
}
.alert-fixed{
    color: #fff;
    font-weight: 600;
    svg>path{
        fill: #fff !important;
    }
}
.alert-fixed.alert-error{
    background: #cd3737;
    border-color: #cd3737;  
    
}
.alert-fixed.alert-warning{
    background: #cda11e;
    border-color: #cda11e;  
    
}
.alert-fixed.alert-success{
    background: #059d4c;
    border-color: #059d4c;  
    
}
.alert-fixed.alert-info{
    background: rgb(54, 90, 161);
    border-color: rgb(54, 90, 161);  
    
}
/*@keyframes FadeAnimation {
    0% {
      opacity: 1;
      visibility: visible;
    }position: absolute;
    right: 4px;
    text-align: center;
    padding: 8px;
    top: 50%;
    display: inline-block;
    margin: -8px 0 0 0;
  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }*/
