.p-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	outline: 0;
	background: #00000075;
	h4{
        font-weight: bold;
    }
	.m-panel{		
	margin: 115px auto;
	position: relative;
	height: auto;
	background: #fff;
	border-radius: 4px;
	padding: 15px;
	border-top: 3px solid #365aa1;
	border-bottom: 3px solid #eb5e07;
	box-shadow: 0px 0px 2px #000;
	&-lg{
		width: 800px;
	}
	&-md{
		width:500px;
	}
	&-sm{
		width:350px;
	}
	}
	&-close{
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 50%;
	border: none;
	width: 25px;
    height: 25px;
    line-height: 24px;
	box-shadow: 0 0 4px #000;
	background: transparent;
	
	}
	}