.print{
      table{
          margin-bottom: 0px; 
          table-layout: fixed;
          border-spacing: 1pt;
          border-collapse: separate;
          display: table;
          width: 100%;
          th, td{
          //font-weight: 300;
          padding:3px 0;
          line-height: normal;
          vertical-align: top;
          background: none;
          
        }
        tbody{ 
          display: table-row-group; 
          vertical-align: middle; 
          border-color: inherit; 
        }
        &.logo{
          
          td{
            strong, img{
            display: none;
          }
          }
          
          img{
            height:20px;
          }
        }
        &.border{
          border-top:1px solid #3366cc4a;
          border-bottom:1px solid #3366cc4a;
          td{
            padding: 4px 0;
            strong{
              font-size: 16px;
            }
          }
        }
        &.travel-table{          
          border-bottom:1px solid #3366cc4a;
          th, td{
            border-top:1px solid #3366cc24;
            border-right:1px solid #3366cc24;
            padding: 6px 10px;
            &:last-child{
              border-right: none;
            }
            &:first-child{
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
        &.no-border{
          border:none;
          th, td{
            border:none;
            padding: 0;
          }
        }
        &.t-c{
          td{
            font-size: 10px;
            line-height: 16px;
            border-bottom: 1px solid #3366cc24;
            ul{
              padding-left: 15px;
              li{padding: 2px 0;}
            }
          }
        }
        &.price{
          ul{
            list-style: none;
            padding: 0 !important;
            span{
              width: 20%;
              display: inline-block;
            }
          }
        }
        &.support{
          td{
            font-size: 10px;
          strong{
            font-size: 12px !important;
            margin-bottom: 5px;
          }
          img{
            margin-right: 5px;
          }
        }
        }
      }
      div.ticketContainer{ text-align: left; }
          strong, b, th{ font-weight: bold; }
          ul{ list-style: disc; }
          .font-10{
            font-size: 10px;
          }

.border-none{
  border:none !important;
}
.print-info{display: none;}
&.voucher{
  .border{
    td{
      strong{
        font-size: 14px;
      }
    }
  }
}
.border6{
  height:4px;
  background: #4D6F93;
  margin: 0px 0 6px;
  display: none;
}
}
@media print {
  .print-layout{
    padding: 0 50px;
    .border-none{
      border:none !important;
    }
    .print-info{
      display: block;
      text-align: right;
    }
  table {
    margin:0;
    td{
      padding:4px 0;
      line-height: 20px;
    }
    &.border{
      border-top:1px solid #3366cc4a;
      border-bottom:1px solid #3366cc4a;
    }
    &.logo{
      margin-top: 10px;
      td{
        width:50%;
        strong{
          font-size: 16px;
          display: block;
          span{
            font-size: 12px;
            color: #4D6F93;
          }
        }
        
        img{
          height:30px;
          display: block; 
          margin-left:300px;
        }
      
      }
      
    }
    &.travel-table{          
      border-bottom:1px solid #3366cc4a;
      th, td{
        border-top:1px solid #3366cc24;
        border-right:1px solid #3366cc24;
        padding: 6px 10px;
        background: none;
        &:last-child{
          border-right: none;
        }
      }
    }
    &.no-border{
      border:none;
      th, td{
        border:none;
      }
    }
    &.t-c{
      td{
        border-bottom: 1px solid #3366cc24;        
        }
      }
      ul {
        list-style: disc;
        margin-left: 15px;
        li{
          line-height: 20px;
        }
    }
    &.price{
      ul{
        list-style: none;
        margin: 0;
        li{
        span{
          width:30%;
          display: inline-block;
        }
      }
      }
    }
    &.baggage{
      td{
        background: #f5f5f5;
        padding: 2px;
      }
    }
    &.support{
      img{
        margin-right: 5px;
      }
    }
    }
  }
  .border6{
    display: block;
    height:4px;
    background: #4D6F93;
    margin: 6px 0;
  }
}