@import '../resources/variables';

.text {
    &--white {
        color: $color-white;
    }

    //t-color-4
    &--blue--bright {
        color: $color-blue-bright;
    }

    &--blue {
        color: $color-blue;
    }

    //t-color0
    &--blue-dark {
        color: $color-blue-dark;
    }

    //t-color1,secondary-cgr
    &--blue-pale {
        color: $color-blue-pale;
    }

    //t-color-2
    &--blue-light {
        color: $color-blue-light;
    }

    //t-color-3
    &--green-parrot {
        color: $color-green-parrot;
    }

    //link-Color
    &--green-dark {
        color: $color-green-dark;
    }


    &--red-bright {
        color: $color-red-bright;
    }

    &--yellow-pale {
        color: $color-yellow-pale;
    }
}

.bg {

    //bg-white
    &--white {
        background-color: $color-white;
    }

    //bg-light-blue
    &--light-blue {
        background-color: $color-blue-light-100;
    }

    //bg-c-gr
    &--grey-light {
        background-color: $color-grey-light;
    }
}